In [15]:
# Step 1: Import Libraries

import numpy as np 
import pandas as pd
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

# Step 2: Load Data
        
datasets = pd.read_csv('Exercise-CarData.csv') 
print("\nData :\n",datasets)
print("\nData statistics\n",datasets.describe())

Data :
       Unnamed: 0  Price   Age     KM  ... Automatic    CC  Doors  Weight
0              0  13500  23.0  46986  ...         0  2000  three    1165
1              1  13750  23.0  72937  ...         0  2000      3    1165
2              2  13950  24.0  41711  ...         0  2000      3    1165
3              3  14950  26.0  48000  ...         0  2000      3    1165
4              4  13750  30.0  38500  ...         0  2000      3    1170
...          ...    ...   ...    ...  ...       ...   ...    ...     ...
1431        1431   7500   NaN  20544  ...         0  1300      3    1025
1432        1432  10845  72.0     ??  ...         0  1300      3    1015
1433        1433   8500   NaN  17016  ...         0  1300      3    1015
1434        1434   7250  70.0     ??  ...         0  1300      3    1015
1435        1435   6950  76.0      1  ...         0  1600      5    1114

[1436 rows x 11 columns]

Data statistics
         Unnamed: 0         Price  ...           CC      Weight
count  1436.000000   1436.000000  ...  1436.000000  1436.00000
mean    717.500000  10730.824513  ...  1566.827994  1072.45961
std     414.681806   3626.964585  ...   187.182436    52.64112
min       0.000000   4350.000000  ...  1300.000000  1000.00000
25%     358.750000   8450.000000  ...  1400.000000  1040.00000
50%     717.500000   9900.000000  ...  1600.000000  1070.00000
75%    1076.250000  11950.000000  ...  1600.000000  1085.00000
max    1435.000000  32500.000000  ...  2000.000000  1615.00000

[8 rows x 7 columns]

In [16]:
# Step 3: Seprate Input and Output attributes

# All rows, all columns except last 
X = datasets.iloc[:, :-1].values 
  
# Only last column  
Y = datasets.iloc[:, -1].values 

print("\n\nInput : \n", X) 
print("\n\nOutput: \n", Y)

Input :
 [[0 13500 23.0 ... 0 2000 'three']
 [1 13750 23.0 ... 0 2000 '3']
 [2 13950 24.0 ... 0 2000 '3']
 ...
 [1433 8500 nan ... 0 1300 '3']
 [1434 7250 70.0 ... 0 1300 '3']
 [1435 6950 76.0 ... 0 1600 '5']]


Output:
 [1165 1165 1165 ... 1015 1015 1114]

In [17]:
# Step 4a: Apply LabelEncoder on the data 
#          to convert country names into numeric values

le = LabelEncoder()
X[ : ,0] = le.fit_transform(X[ : ,0])
print("\n\nInput : \n", X)

Input :
 [[0 13500 23.0 ... 0 2000 'three']
 [1 13750 23.0 ... 0 2000 '3']
 [2 13950 24.0 ... 0 2000 '3']
 ...
 [1433 8500 nan ... 0 1300 '3']
 [1434 7250 70.0 ... 0 1300 '3']
 [1435 6950 76.0 ... 0 1600 '5']]

In [19]:
# Step 4b: Use dummy variables from pandas library
#          to create one column for each Weight

dummy = pd.get_dummies(datasets['Weight'])
print("\n\nDummy :\n",dummy)
datasets = datasets.drop(['Weight','Automatic'],axis=1)
datasets = pd.concat([dummy,datasets],axis=1)
print("\n\nFinal Data :\n",datasets)

Dummy :
       1000  1010  1015  1020  1025  1030  ...  1270  1275  1280  1320  1480  1615
0        0     0     0     0     0     0  ...     0     0     0     0     0     0
1        0     0     0     0     0     0  ...     0     0     0     0     0     0
2        0     0     0     0     0     0  ...     0     0     0     0     0     0
3        0     0     0     0     0     0  ...     0     0     0     0     0     0
4        0     0     0     0     0     0  ...     0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
1431     0     0     0     0     1     0  ...     0     0     0     0     0     0
1432     0     0     1     0     0     0  ...     0     0     0     0     0     0
1433     0     0     1     0     0     0  ...     0     0     0     0     0     0
1434     0     0     1     0     0     0  ...     0     0     0     0     0     0
1435     0     0     0     0     0     0  ...     0     0     0     0     0     0

[1436 rows x 59 columns]


Final Data :
       1000  1010  1015  1020  1025  ...  FuelType   HP  MetColor    CC  Doors
0        0     0     0     0     0  ...    Diesel   90       1.0  2000  three
1        0     0     0     0     0  ...    Diesel   90       1.0  2000      3
2        0     0     0     0     0  ...    Diesel   90       NaN  2000      3
3        0     0     0     0     0  ...    Diesel   90       0.0  2000      3
4        0     0     0     0     0  ...    Diesel   90       0.0  2000      3
...    ...   ...   ...   ...   ...  ...       ...  ...       ...   ...    ...
1431     0     0     0     0     1  ...    Petrol   86       1.0  1300      3
1432     0     0     1     0     0  ...    Petrol   86       0.0  1300      3
1433     0     0     1     0     0  ...    Petrol   86       0.0  1300      3
1434     0     0     1     0     0  ...       NaN   86       1.0  1300      3
1435     0     0     0     0     0  ...    Petrol  110       0.0  1600      5

[1436 rows x 68 columns]